:root {
    --White: #fff;
    --Black: #000;
    --Yellow: #fee522;
}

body {
    font-family: BlinkMacSystemFont, HarmonyOS Sans SC, PingFang SC, system-ui,
        -apple-system, Helvetica, 'Segoe UI', 'Open Sans', Arial, sans-serif;
}

@font-face {
    font-family: 'YouSheBiaoTiYuan';
    src: url('@/assets/font/YouSheBiaoTiYuan.otf');
}

#app {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: url('@/assets/img/bg.jpg') 50% / cover no-repeat;

    font-size: 16px;
}

// 全局样式
.text_white {
    color: var(--White, #fff);
}
.text_yellow {
    color: var(--Yellow, #fee522);
}