:root {
    --White: #fff;
    --Black: #000;
    --Yellow: #fee522;
}

body {
    font-family: BlinkMacSystemFont, HarmonyOS Sans SC, PingFang SC, system-ui,
        -apple-system, Helvetica, 'Segoe UI', 'Open Sans', Arial, sans-serif;
}

// @font-face {
//     font-family: 'YouSheBiaoTiYuan';
//     src: url('https://gitee.com/qingyun-cottage/qingyun-station/raw/master/folder/turkey-h5/font/YouSheBiaoTiYuan.otf');
// }
// @font-face {
//     font-family: 'GenSenRounded TW';
//     src: url('https://gitee.com/qingyun-cottage/qingyun-station/raw/master/folder/turkey-h5/font/GenSenRounded-M.ttc');
// }

#app {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: url('//gitee.com/qingyun-cottage/resource/raw/main/app/turkey-h5/img/bg.jpg')
        50% / cover no-repeat;

    font-size: 16px;
}

// 全局样式
.text_white {
    color: var(--White, #fff);
}
.text_yellow {
    color: var(--Yellow, #fee522);
}

// 渐显动画元素
.fadeIn_el {
    animation: fadeIn 1.2s ease-in alternate both;
}
.fadeIn_el_no1 {
    animation-delay: 0.2s;
}
.fadeIn_el_no2 {
    animation-delay: 1.6s;
}
.fadeIn_el_no3 {
    animation-delay: 2.8s;
}

// 渐显动画
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
